{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  <script src="/assets/js/jquery.min.js"></script> 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          nonce="{{ cspNonce }}"
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="{{ cspNonce }}" crossorigin>

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/terms",
        text: "Terms and conditions"
      }
    ]
  }
}) }}

{% endblock %}

{% block bodyEnd %}
  <script type="module" src='/assets/govuk-frontend.min.js'></script>
  <script type="module" src='/assets/js/govukFrontendInit.js'></script>
  <script src="/assets/js/moj-all.js"></script>
  <script src="/assets/js/moj-init.js"></script>  
  <script src="/assets/js/datepicker.js"></script>
  <script src="/assets/js/noDoubleClick.js"></script>
{% endblock %}
