{% extends "../../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block content %}

{% if selectedProductError %}
  {% set selectedProductErrorMessage = { text: selectedProductError } %}
  {% set showErrors = true %}
{% endif %}

{% if showErrors %}
  {{ govukErrorSummary({
    titleText: "There is a problem!",
    errorList: [
      {
        text: selectedProductError
      }
    ]
  }) }}
{% endif %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

{% set productItems = [] %}
{% for product in productList %}
    {% set item = { "text": product.label, "value": product.id } %}
    {% set productItems = productItems.concat([item]) %}
{% endfor %}

<form action="/register-template/select-product" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Select Product
      </h1>
    </legend>

      <div class="govuk-list">
        {{ govukSelect({label: {
            text: "Select product to register template for"
          },
          id: 'product',
          name: 'product',
          items: productItems | addBlankOption(),
          errorMessage: selectedProductErrorMessage
        }) }}
      </div>
  </div>

  {{ govukButton({
      text: "Continue",
      id: "input-submit",
      type: "submit",
      preventDoubleClick: true
  }) }}

</form>
{% endblock %}