{% extends "../../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% block content %}

    {% if uploadError %}
        {% set uploadErrorMessage = { text: uploadError } %}
        {% set showErrors = true %}
    {% endif %}

    {% if showErrors %}
        {{ govukErrorSummary({
            titleText: "There is a problem!",
            errorList: [
                {
                    text: uploadError
                }
            ]
        }) }}
    {% endif %}

    {{ govukBackLink({
        text: "Back",
        href: "/register-template/select-product"
    }) }}

    {% if not selectedProduct.templateMigrated %}
        {{ mojAlert({
            variant: "warning",
            title: "This product has not been configured as having its template migrated.",
            showTitleAsHeading: true,
            dismissible: false,
            text: 'A template can still be registered but the configuration will need to be updated before it will be used.'
        }) }}
    {% endif %}

    {% if versionList.length > 0 and versionList[0].status == 'PENDING' %}
    {{ govukNotificationBanner({
        text: 'The latest template version registered for this product has not been activated.
        Registering a template will override this inactive version.'
    }) }}
    {% endif %}

    <form action="/register-template/upload" method="post" enctype="multipart/form-data" >
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Upload template for {{ selectedProduct.label }}
                </h1>
            </legend>

            {% if versionList.length == 0 %}
                <div class="govuk-table__caption--m">No template currently registered.</div>
            {% else %}

                {% set displayRows = [] %}

                {% for version in versionList %}
                    {% set row = [
                        { "text": version.version },
                        { "text": version.fileHash },
                        { "text": version.createdDate },
                        { "text": version.status }
                    ] %}
                    {% set displayRows = displayRows.concat([row]) %}
                {% endfor %}


                {{ govukTable({
                    caption: "Latest registered template (including Pending if exists)",
                    captionClasses: "govuk-table__caption--m",
                    head: [
                        {
                            text: "Version"
                        },
                        {
                            text: "Hash"
                        },
                        {
                            text: "Created"
                        },
                        {
                            text: "Status"
                        }
                    ],
                    rows: displayRows
                }) }}
            {% endif %}

            <div class="govuk-body">
                Upload your template file to register it for use in the HMPPS Subject Access Request product.
                Once uploaded we’ll create a new version using the file’s hash.
                This version can then be used to generate a subject access report.
            </div>

            {{ govukFileUpload({
                id: "template",
                name: "template",
                javascript: true,
                label: {
                    text: "Upload template",
                    classes: "govuk-table__caption--m"
                },
                errorMessage: uploadErrorMessage
            }) }}
        </div>



        {{ govukButton({
            text: "Continue",
            id: "input-submit",
            type: "submit",
            preventDoubleClick: true
        }) }}

    </form>
{% endblock %}