{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro multiSelect(params) %}

<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" id="select-all"></th>
      {% for item in params.headers %}
      <th class="govuk-table__header" scope="col">{{item}}</th>
       {% endfor %}
    </tr>
  </thead>
  <tbody class="govuk-table__body">
     {% for item in params.items %}
    <tr class="govuk-table__row govuk-table__row--selected">        

        {% if item.disabled %}
      <td class="govuk-table__cell">
          <div class="govuk-checkboxes__item govuk-checkboxes--small">
            <input type="checkbox" class="disabled-govuk-checkboxes__input"
                   id="{{ item.name }}"
                   name="{{ params.itemGroupName }}" value="{{ item.name }}" disabled>
            <label class="govuk-label govuk-checkboxes__label" for="{{ item.name }}">
              <span class="govuk-visually-hidden">Select {{ item.label }}</span>
            </label>
          </div>
      </td>
          <td class="govuk-table__cell"><span class='disabled-text'>{{item.name}}</span></td>
        {% else %}
      <td class="govuk-table__cell">
          {% set isChecked = (item.disabled == false) and (params.selectedItems or []).indexOf(item.name) > -1 %}
          <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
            <input type="checkbox" class="govuk-checkboxes__input govuk-moj-multi-select__checkbox__input"
                   id="{{ item.name }}"
                   name="{{ params.itemGroupName }}" value="{{ item.name }}"
                    {{- " checked" if isChecked }} >

            <label class="govuk-label govuk-checkboxes__label" for="{{ item.name }}">
              <span class="govuk-visually-hidden">Select {{ item.label }}</span>
            </label>
          </div>
      </td>
          <td class="govuk-table__cell">{{item.label}} </td>
        {% endif %}
    </tr>   
     {% endfor %}
  </tbody>
</table>
{% endmacro %}