$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

// @import 'govuk/all';
@import "node_modules/govuk-frontend/govuk/all";
@import 'moj/all';


@import "node_modules/@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import 'assets/scss/local';
//@import './components/multi-select';
@import './components/date-picker';
