{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/admin/product-config"
  }) }}

  {% if productDetails.enabled %}
    {% set enabledTag = govukTag({text: "Enabled", classes: "govuk-tag--green"}) %}
  {% else %}
    {% set enabledTag = govukTag({text: "Disabled", classes: "govuk-tag--red"}) %}
  {% endif %}

  {% if productDetails.templateMigrated %}
    {% set templateMigratedTag = govukTag({text: "Migrated", classes: "govuk-tag--green"}) %}
  {% else %}
    {% set templateMigratedTag = govukTag({text: "Not migrated", classes: "govuk-tag--red"}) %}
  {% endif %}

  {% if error %}
    {{ govukErrorSummary({
      titleText: "Problem retrieving product configuration",
      errorList: [{ text: error }]
    }) }}
    {% set cardAction = {} %}
  {% else %}
    {% set cardAction = {
        items: [
          {
            attributes: { "id": "edit-details" },
            href: "/admin/update-product-config",
            text: "Edit",
            visuallyHiddenText: "edit-details"
          }
        ]
      }
    %}
  {% endif %}

  <h1 class="govuk-heading-l">Product Configuration Details</h1>

  {{ govukSummaryList({
    attributes: {
      "id": "product-config-summary"
    },
    card: {
      title: {
        text: "Product details"
      },
      actions: cardAction
    },
    rows: [
      {
        key: { text: "Name" },
        value: { text: productDetails.name }
      },
      {
        key: { text: "Label" },
        value: { text: productDetails.label }
      },
      {
        key: { text: "Url" },
        value: { text: productDetails.url }
      },
      {
        key: { text: "Category" },
        value: { text: productDetails.category }
      },
      {
        key: { text: "Enabled" },
        value: { html: enabledTag }
      },
      {
        key: { text: "Template migrated" },
        value: { html: templateMigratedTag }
      }
    ]
  }) }}

{% endblock %}