{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/admin/product-config-details?id=" + productDetails.id
  }) }}

  <h1 class="govuk-heading-l">Update Product Configuration</h1>

  <form action="/admin/update-product-config" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% include "../../partials/productDetailsInput.njk" %}

  </form>

{% endblock %}
