---
# Per environment values which override defaults in hmpps-subject-access-request-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: subject-access-request-preprod.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://subject-access-request-preprod.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    SERVICE_LIST_ENV: "preprod"
    ENVIRONMENT_NAME: PRE-PRODUCTION
    SAR_ENDPOINT_URL: "https://subject-access-request-api-preprod.hmpps.service.justice.gov.uk"

  scheduledDowntime:
    enabled: true
    startup: '31 6 * * 1-5' # Start at 6.31am UTC Monday-Friday
    shutdown: '48 21 * * 1-5' # Stop at 9.48pm UTC Monday-Friday

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: hmpps_tech_non_prod
