{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/admin/reports?" + searchParamsString
  }) }}

  {% if restartDetails.success %}
    {{ govukPanel({
      titleText: "Request restarted successfully",
      html: "Status is now <strong>" + subjectAccessRequest.status + "</strong> and requested date time <strong>" + subjectAccessRequest.requestDateTime + "</strong>"
    }) }}
  {% endif %}

  {% if restartDetails.success == false %}
    {{ govukErrorSummary({
      titleText: "There was a problem restarting the subject access request:",
      errorList: [
        {
          text: restartDetails.message
        }
      ]
    }) }}
  {% endif %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Subject Access Request Details
    </h1>
  </legend>

  {{ govukSummaryList({
    attributes: {
      "id": "report-summary"
    },

    rows: [
      {
        key: {
        text: "ID"
      },
        value: {
        text: subjectAccessRequest.id
      }
      },
      {
        key: {
          text: "Subject ID"
        },
        value: {
          text: subjectAccessRequest.nomisId or subjectAccessRequest.ndeliusCaseReferenceId
        }
      },
      {
        key: {
          text: "Case ID"
        },
        value: {
          text: subjectAccessRequest.sarCaseReferenceNumber
        }
      },
      {
        key: {
          text: "Query date from"
        },
        value: {
          text: subjectAccessRequest.dateFrom
        }
      },
      {
        key: {
          text: "Query date to"
        },
        value: {
          text: subjectAccessRequest.dateTo
        }
      },
      {
        key: {
          text: "Requested by"
        },
        value: {
          text: subjectAccessRequest.requestedBy
        }
      },
      {
        key: {
          text: "Requested date time"
        },
        value: {
          text: subjectAccessRequest.requestDateTime
        }
      },
      {
        key: {
          text: "Products selected"
        },
        value: {
          html: subjectAccessRequest.services | replace (",", "<br>")
        }
      },
      {
        key: {
          text: "Status"
        },
        value: {
          text: subjectAccessRequest.status
        }
      },
      {
        key: {
          text: "Claim date time"
        },
        value: {
          text: subjectAccessRequest.claimDateTime
        }
      },
      {
        key: {
          text: "Claim attempts"
        },
        value: {
          text: subjectAccessRequest.claimAttempts
        }
      },
      {
        key: {
          text: "Last downloaded"
        },
        value: {
          text: subjectAccessRequest.lastDownloaded
        }
      }
    ]
  }) }}


  {% if (subjectAccessRequest.status == "Errored") %}
  <form action="/admin/restart?id={{ subjectAccessRequest.id }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukButton({
      text: "Restart",
      id: "input-restart",
      preventDoubleClick: true
    }) }}
  </form>
  {% endif %}

{% endblock %}