{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "/"
}) }}

  <h1 class="govuk-heading-l">Subject Access Request Admin</h1>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-one-half">
      <ul>
        <li><a class="govuk-link--no-visited-state" href="/admin/health">Health</a></li>
        <li><a class="govuk-link--no-visited-state" href="/admin/reports">SAR reports</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
