{% extends "../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

    <div class="govuk-panel govuk-panel--confirmation" id="confirmation-panel">
      <h1 class="govuk-panel__title">
        Your report request for {{ caseReference }} has been submitted
      </h1>
    </div>

    <section id="next-steps">
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">Lorem ipsum sit dolor et amet - content to be confirmed.</p>
      <p class="govuk-body">You will not get an email notification about this report. But you can check its progress on the completed reports page.</p>
    </section>

    <a href="/reports" class="govuk-body govuk-link" id="view-reports">View completed reports.</a>

  {% endblock %}