{% extends "../partials/layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Enter a HMPPS ID for the person
        </h1>
      </legend>

  {% endblock %}