{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1><a href="./search">Create a new report</a></h1>
  <h1>View completed reports</h1>
  {# <p>Please check back later when there is content to view.</p> #}

{% endblock %}
