{% extends "../partials/layout.njk" %}

{% set mainClasses = "app-container govuk-body" %}
{% set options = {
    title: 'Filter',
    id: 'alertsFilter',
    currentUrlPath: currentUrlPath,
    queryParams: listMetadata.filtering.queryParams
} %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/datepicker/macro.njk" import hmppsDatepicker %}


{% block content %}
<h1>Enter details</h1>
<form action="/save-inputs" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  {{ hmppsDatepicker({
      id: "dateFrom",
      name: "dateFrom",
      label: {
          text: "Date from",
          classes: "govuk-label--m"
      },
      hint: {
        text: "For example, 31/3/2022"
      },
      classes: 'hmpps-datepicker--fixed-width',
      maxDate: today,
      value: dateFrom
  }) }}

  {{ hmppsDatepicker({
      id: "dateTo",
      name: "dateTo",
      label: {
          text: "Date to",
          classes: "govuk-label--m"
      },
      hint: {
          text: "For example, 31/3/2023"
      },
      value: dateTo,
      classes: 'hmpps-datepicker--fixed-width',
      maxDate: today
  }) }}

  {{ govukInput({
    label: {
      text: "Case Reference Number",
      classes: "govuk-label--m"
    },
    id: "case-ref",
    name: "caseReference",
    classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
      value: caseReference
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
{% endblock %}