{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/multiselect.njk" import multiSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% block content %}

{% if selectedProductsError %}
  {% set selectedProductsErrorMessage = { text: selectedProductsError } %}
  {% set showErrors = true %}
{% endif %}

{% if showErrors %}
  {{ govukErrorSummary({
    titleText: "There is a problem!",
    errorList: [
      {
        text: selectedProductsError
      }
    ]
  }) }}
{% endif %}

{% if suspendedProductsList %}
    {% set suspendedProductsBulletList %}
    <ul class="govuk-list govuk-list--bullet" id="suspended-services-alert-list">
      {% for item in suspendedProductsList %}
        <li>{{ item.label }}</li>
      {% endfor %}
    </ul>
    {% endset %}

    {{ mojAlert({
        variant: "warning",
        title: "One or more products are currently Suspended:",
        showTitleAsHeading: true,
        dismissible: false,
        html: suspendedProductsBulletList ~ '<p>You can still submit your request however the report will <b>NOT</b> complete until all products you have selected are Active</p>'
    }) }}
{% endif %}

{{ govukBackLink({
  text: "Back",
  href: "/inputs"
}) }}

<form action="/product-selection" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Select Products
        </h1>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        Select products to collect data from.
      </div>

      {{ multiSelect({
          headers: ["Product Name", "Service Status"],
          itemGroupName: "selectedProducts",
          categorisedItems: categorisedProducts,
          selectedItems: selectedList,
          errorMessage: selectedProductsErrorMessage
      }) }}
  </div>

  {{ govukButton({
      text: buttonText,
      id: "input-submit",
      type: "submit",
      preventDoubleClick: true
  }) }}

</form>
{% endblock %}