{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/multiselect.njk" import multiSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

{% if selectedProductsError %}
  {% set selectedProductsErrorMessage = { text: selectedProductsError } %}
  {% set showErrors = true %}
{% endif %}

{% if showErrors %}
  {{ govukErrorSummary({
    titleText: "There is a problem!",
    errorList: [
      {
        text: selectedProductsError
      }
    ]
  }) }}
{% endif %}

{{ govukBackLink({
  text: "Back",
  href: "/inputs"
}) }}

<form action="/product-selection" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Select Products
        </h1>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        Select products to collect data from.
      </div>

      {{ multiSelect({
          headers: ["Product Name"],
          itemGroupName: "selectedProducts",
          categorisedItems: categorisedProducts,
          selectedItems: selectedList,
          errorMessage: selectedProductsErrorMessage
      }) }}
  </div>

  {{ govukButton({
      text: buttonText,
      id: "input-submit",
      type: "submit",
      preventDoubleClick: true
  }) }}

</form>
{% endblock %}