{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{%- from "moj/components/search/macro.njk" import mojSearch -%}

{% block content %}

{% if previous != 0 %}
  {% set previousButton = { text: 'Previous', href: '/reports?page=' + previous + '&keyword=' + searchTerm } %}
{% endif %}

{% if next != 0 %}
  {% set nextButton = { text: 'Next', href: '/reports?page=' + next + '&keyword=' + searchTerm} %}
{% endif %}

      {% set pagination %}
        {{ mojPagination({
          results: {
            from: from,
            to: to,
            count: numberOfReports
          },
          previous: previousButton,
          next: nextButton,
          items: pageLinks
        }) }}
      {% endset %}

  <h1 class="govuk-heading-l">Subject Access Request Reports</h1>

  {{ mojSearch({
    action: '#',
    method: 'get',
    input: {
      id: 'keyword',
      name: 'keyword'
    },
    label: {
      text: 'Find a report',
      classes: 'govuk-!-font-weight-bold'
    },
    hint: {
      text: 'You can search by subject ID or SAR case reference number'
    },
    button: {
      text: 'Search'
    }
  }) }}

  <br /> 
  <br /> 

  {{ pagination | safe }}

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="descending">Date of request</th>
          <th scope="col" class="govuk-table__header">Case Reference</th>
          <th scope="col" class="govuk-table__header">Subject ID</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for report in reportList %}
          {% if report.status == 'Completed' %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{report.dateOfRequest}}</td>
                    <td class="govuk-table__cell">{{report.sarCaseReference}}</td>
                    <td class="govuk-table__cell">{{report.subjectId}}</td>
                    <td class="govuk-table__cell"><a href="/download-report/{{report.uuid}}" download class="govuk-body govuk-link" /a>View report</td>
                </tr>
          {% else %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{report.dateOfRequest}}</td>
                    <td class="govuk-table__cell">{{report.sarCaseReference}}</td>
                    <td class="govuk-table__cell">{{report.subjectId}}</td>
                    <td class="govuk-table__cell">{{report.status}}</td>
                </tr>
          {% endif %}
            {% endfor %}
      </tbody>
    </table>

  {{ pagination | safe }}

{% endblock %}
