{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

  <h1 class="govuk-heading-l">Subject Access Request Reports</h1>

  {{ govukTable({
    firstCellIsHeader: false,
    head: [
      {
        text: "Date of request"
      },
      {
        text: "Case Reference"
      },
      {
        text: "Subject ID"
      },
      {
        text: "Status"
      }
    ],
    rows: [
      [
        {
          text: "25/03/2024"
        },
        {
          text: "CaseReference1"
        },
        {
          text: "A1234BC"
        },
        {
          text: "Pending"
        }
      ],
      [
        {
          text: "24/02/2024"
        },
        {
          text: "CaseReference2"
        },
        {
          text: "B1234CD"
        },
        {
          text: "Complete"
        }
      ],
      [
        {
          text: "23/01/2024"
        },
        {
          text: "CaseReference3"
        },
        {
          text: "C123456"
        },
        {
          text: "Complete"
        }
      ]
    ]
  }) }}

{% endblock %}
