{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "../components/suspendedProductsWarning.njk" import warning %}
{% from "../components/selectedProducts.njk" import selectedProducts %}

{% block content %}

  {% if suspendedProductsList | length > 0 %}
    {{ warning({ suspendedList: suspendedProductsList }) }}
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: "/reports?" + searchParamsString
  }) }}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Subject Access Request Details
    </h1>
  </legend>

  {{ govukSummaryList({
    attributes: {
      "id": "report-summary"
    },

    rows: [
      {
        key: {
          text: "Subject ID"
        },
        value: {
          text: subjectAccessRequest.nomisId or subjectAccessRequest.ndeliusCaseReferenceId
        }
      },
      {
        key: {
          text: "Case reference number"
        },
        value: {
          text: subjectAccessRequest.sarCaseReferenceNumber
        }
      },
      {
        key: {
          text: "Date from"
        },
        value: {
          text: subjectAccessRequest.dateFrom or "Start of record"
        }
      },
      {
        key: {
          text: "Date to"
        },
        value: {
          text: subjectAccessRequest.dateTo
        }
      },
      {
        key: {
          text: "Requested by"
        },
        value: {
          text: subjectAccessRequest.requestedBy
        }
      },
      {
        key: {
          text: "Requested date/time"
        },
        value: {
          text: subjectAccessRequest.requestDateTime
        }
      },
      {
        key: {
          text: "Status"
        },
        value: {
          text: subjectAccessRequest.status
        }
      },
      {
        key: {
          text: "Last downloaded"
        },
        value: {
          text: subjectAccessRequest.lastDownloaded
        }
      },
      {
        key: {
        text: "Products selected"
      },
        value: {
        html: selectedProducts({ products: subjectAccessRequest.services })
      }
      }
    ]
  }) }}

{% endblock %}