{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/multiselect.njk" import multiSelect %}
{% block content %}

{% if selectedServicesError %}
  {% set selectedServicesErrorMessage = { text: selectedServicesError } %}
  {% set showErrors = true %}
{% endif %}

{% if showErrors %}
  {{ govukErrorSummary({
    titleText: "There is a problem!",
    errorList: [
      {
        text: selectedServicesError
      }
    ]
  }) }}
{% endif %}

<form action="/serviceselection" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Select Services
        </h1>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        Select services to collect data from.
      </div>

      {{ multiSelect({
          headers: ["Service Name"],
          itemGroupName: "selectedServices",
          items: servicelist,
          selectedItems: selectedList,
          errorMessage: selectedServicesErrorMessage
      }) }}
  </div>

  {{ govukButton({
    text: buttonText,
    id: "input-submit",
    type: "submit"
  }) }}

</form>
{% endblock %}