{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/multiselect.njk" import multiSelect %}


{% block content %}
{{ govukButton({
  text: "Select All"
}) }}

{{ govukCheckboxes({
  name: "services",
  fieldset: {
    legend: {
      text: "Select services",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all services to collect data from, or click 'Select All'"
  },
  items: servicelist
}) }}


{{ multiSelect({
  rows: [{name: anna, value: 14},
         {name: cai, value: 24},
         {name: april, value: 38}],
  name: 'Test checkbox',
  caption: 'testing123'
}) }}

{{ govukButton({
  text: "Confirm"
}) }}

{% endblock %}