{% extends "../partials/layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Confirm Report Details 
        </h1>
      </legend>
{{ govukSummaryList({
  attributes: {
    "id": "report-summary"
  },
  
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "Prisoner number"
      },
      value: {
        text: ""
      }
    },
    {
      key: {
        text: "Date of Birth"
      },
      value: {
        html: ""
      }
    },
    {
      key: {
        text: "Case ID"
      },
      value: {
        html: ''
      },
      actions: {
        items: [
          {
              attributes: {
            "id": "change-case-id"
            },
            href: "/inputs",
            text: "Change",
            visuallyHiddenText: "case ID"
          }
        ]
      }
    },
    {
      key: {
        text: "Query date range"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            attributes: {
            "id": "change-date-range"
            },
            href: "/inputs",
            text: "Change",
            visuallyHiddenText: "date range"
          }
        ]
      }
    },
    {
      key: {
        text: "Services selected"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            attributes: {
            "id": "change-services"
            },
            href: "/serviceselection",
            text: "Change",
            visuallyHiddenText: "services"
          }
        ]
      }
    }
  ]
}) }}

  {{ govukButton({
    text: "Accept and create report",
    id: "accept-confirm",
    type: "submit"
  }) }}

  {% endblock %}