{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block content %}

<div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Home",
        href: "/"
    }) }}

    <h1 class="govuk-heading-l">Terms and conditions</h1>
    <div class="terms-and-conditions-text"></div>
    <p class="govuk-body">
        Access to, and use of, this system is restricted to authorized Prison-NOMIS account users only.
    </p>
    <p class="govuk-body">
        All users must read and conform to the Prison-NOMIS Security Operating Procedures, together with any
        additional Security and IT policies from within your organisation which may also apply.
    </p>
    <p class="govuk-body">
        You are reminded that this system is protected by a security framework and that all data entered into
        Prison-NOMIS is potentially liable to legal disclosure under the Data Protection Act and/or the Freedom
        of Information Act.
    </p>
    <p class="govuk-body">
        All activities undertaken with regard to the Prison-NOMIS system must comply with the requirements of
        the Computer Misuse Act and other relevant data legislation.
    </p>
    <p class="govuk-body">
        Only accurate and relevant information must be entered in Prison-NOMIS.
    </p>
    <p class="govuk-body">
        Unauthorised access or attempts to alter, destroy, damage, disclose or otherwise interfere with the data
        in Prison-NOMIS could result in disciplinary proceedings and / or criminal prosecution.
    </p>

</div>


{% endblock %}